<div class="row">
  <h4></h4>
  <div class="pull-right" ng-if="!$ctrl.isCollapse">
    <button ng-click="$ctrl.addGroup()"><span class="fa fa-plus-circle"></span></button>
  </div>

</div>

<script type="text/ng-template" id="nodes_renderer.html">
  <div ui-tree-handle class="tree-node tree-node-content">

    <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag
       ng-click="$ctrl.toggle(this)">
      <span class="fa"
            ng-class="{'fa-chevron-right': this.collapsed, 'fa-chevron-down': !this.collapsed}"></span>
    </a>

    <a ng-if="node.isOpen"><span class="fa fa-plug"></span></a>

    <b>{{node.title}}</b>
    <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="$ctrl.remove(this)">
      <span class="fa fa-minus"></span></a>
    <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="$ctrl.newConnection(this)"
       ng-if="node.nodes"><span class="fa fa-plus-circle"></span></a>
    <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="$ctrl.edit(this)">
      <span class="fa fa-pencil"></span></a>

    <a class="pull-right btn btn-primary btn-xs" ng-if="$ctrl.isConnection(node)" data-nodrag
       ng-click="$ctrl.open(this)">
      <span class="fa fa-tasks"></span></a>

  </div>


  <ol ui-tree-nodes ng-model="node.nodes" ng-class="{hidden: this.collapsed}">
    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
    </li>
  </ol>

</script>


<div class="row">
  <div ui-tree id="tree-root" drop-enabled="false" drag-enabled="false">
    <ol ui-tree-nodes ng-model="$ctrl.data">
      <li ng-repeat="node in $ctrl.data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
    </ol>
  </div>
</div>

