<!doctype html>
<html>
<head>
  <title>Quartz UI</title>

  <meta charset="utf-8">

  <meta name="description" content="">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css"/>
  <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css"/>
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css"/>
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
    !function (A, n, g, u, l, a, r) {
      A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
        (A[l].q = A[l].q || []).push(arguments)
      }, A[l].l = +new Date, a = n.createElement(g),
        r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
  </script>

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/es5-shim/es5-shim.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
  <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
  <script src="bower_components/requirejs/require.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <script src="lib/ui-bootstrap-tpls.js"></script>

  <!-- build:js({.tmp,app}) scripts/scripts.js -->

  <script type="text/javascript" src="main.js"></script>
  <!-- endbuild -->
</head>
<body>

<div class="header">
  Quartz UI components


<div ng-controller="quartz.core.main.appController as $ctrl" >

  <div class="row">
    <div class="col-md-12">
      <button ng-click="$ctrl.isCollapse= !$ctrl.isCollapse"><span
        class="fa fa-list"></span></button>
    </div>
  </div>
  <div class="row">

    <div class="col-md-2" ng-if="!$ctrl.isCollapse">
      <qz-connections data="$ctrl.data"
                      tabs="$ctrl.tabs"
                      is-local-storage="true">
      </qz-connections>
    </div>
    <div class="col-md-9">
      <qz-tabs tabs="$ctrl.tabs" active="0">
      </qz-tabs>
    </div>
  </div>
</div>
</div>
<div class="footer">
  by Sergey Yurov

</div>
</body>
</html>
